<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
      Lorem ipsum dolor sit amet consectetur adipiscing, 
      elit vestibulum vehicula habitasse nullam suspendisse, 
      habitant turpis aliquet rutrum est. Tellus platea accumsan 
      vehicula euismod at consequat a natoque sagittis facilisi 
      dis molestie donec, nulla volutpat interdum nisl mattis 
      nibh curabitur pretium ligula praesent etiam. Congue massa 
      euismod tellus orci eu mattis enim lacus consequat nisi, 
      phasellus convallis volutpat aliquet cum ultricies montes 
      faucibus magna non, rhoncus senectus molestie id imperdiet 
      iaculis eget quam torquent.
  </p>
</article>
